{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body background="static/background.png">

<div class="container">
    <div class="header item">
        Практика 2 создание страницы блога Утышев А.В. /2-МГВ-2/
    </div>
    <div class="sidebar item">
<!--        <ul>-->
        {% for key, value in menu.items  %}
<!--        <li>-->
        <div class="menu-item-col">
            <span class="menu-item">
                <a href="{{ value }}" class="menu-item-link">{{key}}</a>
            </span>
        </div>

<!--        </li>-->
        {% endfor %}
<!--        </ul>-->
    </div>
    <div class="content item">
      {% block content%}
      {% endblock %}
    </div>
</div>

</body>
</html>
