{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

<div class="container">
    <div class="header item">
        Практика 2 создание страницы блога Утышев А.В. /2-МГВ-2/
    </div>
    <div class="sidebar item">
<!--        <ul>-->
        {% for key, value in menu.items  %}
<!--        <li>-->
        <div class="menu-item-col">
            <span class="menu-item">
                <a href="{{ value }}" class="menu-item-link">{{key}}</a>
            </span>
        </div>

<!--        </li>-->
        {% endfor %}
<!--        </ul>-->
    </div>
    <div class="content item">
      {% block content%}
      {% endblock %}
    </div>
</div>

</body>
</html>


<div style="width: 1634px; height: 970px; position: relative; background: white">
  <img style="width: 1638px; height: 971px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1638x971" />
  <div style="width: 754px; height: 489px; left: 121px; top: 152px; position: absolute; color: black; font-size: 24px; font-family: Playfair Display; font-weight: 600; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipisicing  elit. Aliquam consectetur dolore explicabo ipsam magnam natus non odio pariatur, qui rem. Ad eum excepturi expedita fugiat odio, perspiciatis suscipit. Facere, sapiente!</div>
  <div style="width: 625px; left: 120px; top: 7px; position: absolute; color: black; font-size: 20px; font-family: Playfair Display; font-weight: 600; word-wrap: break-word">Практика 2 создание страницы блога Утышев А.В. /2-МГВ-2/</div>
  <div style="width: 195px; height: 25px; left: 70px; top: 46px; position: absolute">
    <div style="width: 195px; height: 25px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 13px"></div>
    <div style="left: 37px; top: 3px; position: absolute; color: black; font-size: 14px; font-family: Playfair Display; font-weight: 600; word-wrap: break-word">Главная страница</div>
  </div>
  <div style="width: 195px; height: 25px; left: 719px; top: 46px; position: absolute">
    <div style="width: 195px; height: 25px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 13px"></div>
    <div style="left: 37px; top: 3px; position: absolute; color: black; font-size: 14px; font-family: Playfair Display; font-weight: 600; word-wrap: break-word">Страница постов</div>
  </div>
  <div style="width: 195px; height: 25px; left: 1368px; top: 46px; position: absolute">
    <div style="width: 195px; height: 25px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 13px"></div>
    <div style="left: 37px; top: 3px; position: absolute; color: black; font-size: 14px; font-family: Playfair Display; font-weight: 600; word-wrap: break-word">О Блоге</div>
  </div>
  <div style="left: 73px; top: 83px; position: absolute; color: black; font-size: 32px; font-family: Playfair Display; font-weight: 600; word-wrap: break-word">Главная страница </div>
  <div style="width: 500px; height: 633px; left: 948px; top: 131px; position: absolute; background: linear-gradient(288deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0) 95%); border-radius: 13px"></div>
</div>
