{% extends 'base.html' %}

{% block content%}
<h1>{{title}}</h1>
<ul>
    <h2>пост 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ipsum labore laborum minus placeat sint ullam vel! Eligendi fugit id iste itaque iusto nulla quae quos, recusandae reiciendis reprehenderit sint.</p>
    <h2>пост 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, inventore, perferendis. Assumenda cum, ea eaque illo mollitia suscipit! Culpa, fuga, maiores! Ea labore odio omnis quasi quibusdam? Ad, rerum unde.</p>
    <h2>пост 3</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deserunt, ea maxime odio sint suscipit! Aut dolores eos, odio odit tempore ut vel vero. Harum minus nisi qui sunt.</p>
    <h2>пост 4</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad asperiores aspernatur est eveniet, fuga fugit hic illo ipsa, labore necessitatibus non omnis quasi quisquam repudiandae saepe sit tempora ullam?</p>
    <h2>пост 5</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda aut enim excepturi facilis necessitatibus nemo obcaecati pariatur quos. Ab culpa doloribus enim fuga illum magnam minima unde vitae.</p>
</ul>

{% endblock %}