{% extends 'base.html' %}

{% block content%}
<h1 class="titleh1">Главная страница </h1>

<div class= "mainpagetxt" style="width: 754px; height: 489px; left: 121px; top: 152px; position: absolute;">Lorem ipsum dolor sit amet, consectetur adipisicing  elit. Aliquam consectetur dolore explicabo ipsam magnam natus non odio pariatur, qui rem. Ad eum excepturi expedita fugiat odio, perspiciatis suscipit. Facere, sapiente!</div>
<div style="width: 500px; height: 633px; left: 948px; top: 131px; position: absolute; "><img src="static/content-base/790.jpg" style="background: linear-gradient(288deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0) 95%); border-radius: 13px" alt="lady." width="500" height="633"></div>

{% endblock %}