.container {
    display: grid
    grid-template-areas:
        'header header'
        'sidebar content';
    gap: 10px;
    grid-template-colums: 150px, 1fr;
    grid-template-rows: 50px, 1fr;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;

}

.content {
    grid-area: content;

}

.item {
    padding: 5px;
    left: 150px; top: 152px;
    color: black;
    font-size: 15px;
    font-family: Playfair Display;
    font-weight: 600;
}

.menu-item {
    padding: 5px;
    background: #D9D9D9;
    border-radius: 13px
}


.menu-item-link {
    color: black;
    font-size: 14px;
    font-family: Playfair Display;
    font-weight: 600;
    text-decoration: none;
}

.titleh1 {
    left: 77px;
    top: 53px;
    position: absolute;
    color: black;
    font-size: 28px;
    font-family: Playfair Display;
    font-weight: 600;
    word-wrap: break-word
}

.mainpagetxt {
    font-size: 24px;
    font-weight: 600;
    word-wrap: break-word;
}

.card {
    padding: 20px 5px;
    color: black;
    font-size: 20px;
    word-wrap: break-word;
}